name: Collect Code Coverage
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  call-workflow-passing-data:
    uses: dappster-io/github/.github/workflows/go_codecov.yml@main
